<footer class="page-footer font-small blue ">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/salem" target="_blank">@Caleb_Otieno</a>
  </div>
  <!-- Copyright -->
</footer>