<style>
  form {
      margin-left: 60%;
  }
  .nav{
    background-color: #673AB7 !important;
  }
</style>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="/">
    <i class="fas fa-home" style="font-size:36px;"></i>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
  aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent-333">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'notices'%}">Notifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'post_business'%}">New_Business</a>
    </li>
    <li class="nav-item dropdown">
        <form class="form-inline navbar-form" role="search" action="{%url 'search'%}">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" name="businesses" placeholder="Search Businesses" aria-label="Search">
            </div>
        </form>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">
    {%if user.is_authenticated%}
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light" href="/profile/">
        Welcome {{user.username|capfirst}}
      </a>
    </li>
    {% else %}
    <li class="nav-item dropdown">
      <a class="nav-link waves-effect waves-light dropdown-toggle" id="navbarDropdownMenuLink-333"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-sign-in-alt" style="font-size:26px;"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-default"
      aria-labelledby="navbarDropdownMenuLink-333">
        <a class="dropdown-item" href="/register/">Sign-up</a>
        <a class="dropdown-item" href="/login">Login</a>
      </div>
    </li>
    {% endif %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'notices'%}" style="margin-top:4%;">
      <i class="fas fa-bell" style="color:white; font-size:28px;"></i>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item dropdown">
      {%if user.is_authenticated%}
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user" style="font-size:28px;"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-default"
        aria-labelledby="navbarDropdownMenuLink-333">
        <a class="dropdown-item" href="/profile/">Profile</a>
        <a class="dropdown-item" href="/password_change/">Change password</a>
        <a class="dropdown-item" href="/logout/">Logout</a>
      </div>
      {% endif %}
    </li>
  </ul>
</div>
</nav>
<!--/.Navbar -->